<mat-toolbar>
<p>
  <button mat-icon-button (click)="sidenav.toggle()">
      <span class="material-icons">
          menu
      </span>
  </button>
</p>
<h1><span class="tittle">IReNE</span>
  &nbsp;&nbsp;&nbsp;Interdisciplinary Research Network Extension</h1>
<span style="flex: 1 1 auto"></span>
<a mat-button color="primary" routerLink="/documents">Browse</a>
<a mat-button color="primary" routerLink="/about">About</a>
<a mat-button color="primary" routerLink="/collab-request">Collaborator Access</a>
<span class="material-icons">
    help
  </span>
</mat-toolbar>
