<mat-toolbar color="primary">
  <mat-toolbar-row>
  <button mat-icon-button (click)="sidenav.toggle();">
    <img src="../../../../assets/pictures/menu.svg" alt="menu">
  </button>
      <img class="logo" routerLink="/home"
       src="assets/pictures/app_logo_white.png" alt="Logo of IReNE">
<span>
  Interdisciplinary Research Network Extension</span>
<span style="flex: 1 1 auto"></span>
<a mat-button  routerLink="/home">Home</a>
<a mat-button  routerLink="/documents">Browse</a>
<a mat-button  routerLink="/timeline">Timeline</a>
<a mat-button  routerLink="/xy">Plots</a>
<a mat-button  routerLink="/map">Map</a>
<a mat-button  routerLink="/collabrequest">Collaborator Access</a>
<a mat-button  routerLink="/about">About</a>
    <img src="../../../../assets/pictures/help.svg" alt="help">
  </mat-toolbar-row>
</mat-toolbar>
