<mat-toolbar color="primary">
  <mat-toolbar-row>
  <button mat-icon-button (click)="sidenav.toggle()">
      <span class="material-icons">
          menu
      </span>
  </button>
      <img routerLink="/home"
       src="assets/pictures/app_logo_white.png" alt="Logo of IReNE">
<span>
  Interdisciplinary Research Network Extension</span>
<span style="flex: 1 1 auto"></span>
<a mat-button color="accent" routerLink="/documents">Browse</a>
<a mat-button color="accent" routerLink="/about">About</a>
<a mat-button color="accent" routerLink="/collab-request">Collaborator Access</a>
<span class="material-icons">
    help
  </span>
  </mat-toolbar-row>
</mat-toolbar>
