.timeline-graph{
    min-height: 85vh;
    overflow: hidden;
  }

table {
  width: 100%;
  border-collapse: collapse;
  

}

td,tr{
  border: .5px solid black;
  text-indent: 30px;
  width: 33%;
  
}
.cell{
  text-indent: 1px;
}
th{
  border: .5px solid black;
  text-indent: 30px;
  
  background-color: rgb(190, 190, 190);
  font-weight: bold;
  font-size: large; 
}

/* mat-select.items .mat-select-arrow{
  visibility: hidden;
      z-index: 999;
}
    
mat-select.items .mat-select-placeholder{
  color: rgba(black, 1);
}
    
mat-select.items .mat-option-disabled{
  color: rgba(black, 1);
} */
