mat-card-header {justify-content: center;}
mat-card-content{justify-content: center; text-align: center}
mat-card {display: flex;flex-direction: column;margin: 5px;width: 60%;}
.mat-card-header {display: flex;flex-direction: row;flex-shrink: 0;}
.mat-card-content {flex-grow: 1;overflow: auto;}
