<div *ngIf="show">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort multiTemplateDataRows>
      <!-- titleColumn -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title</th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- creator Column -->
      <ng-container matColumnDef="creatorFullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Creator</th>
        <td mat-cell *matCellDef="let element">
          {{element.creatorFullName}}
        </td>
      </ng-container>

      <!-- location Column
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
        <td mat-cell *matCellDef="let element"> {{element.location[0]}} </td>
      </ng-container>
     -->

      <!-- Publication Date Column -->
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Publication Date</th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate}} </td>
      </ng-container>

      <!-- Incident Date Column -->
      <ng-container matColumnDef="incidentDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Incident Date</th>
        <td mat-cell *matCellDef="let element"> {{element.incidentDate}} </td>
      </ng-container>

      <!-- Modification Date Column -->
      <ng-container matColumnDef="lastModificationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Modification Date</th>
        <td mat-cell *matCellDef="let element"> {{element.lastModificationDate}} </td>
      </ng-container>

      <!-- Infrastructure Type Column
      <ng-container matColumnDef="infrasDocList">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Infrastructure Type </th>
        <td mat-cell *matCellDef="let element">
          <mat-select class="items" placeholder="{{element.infrasDocList[0]}}..." >
          <mat-option disabled="true" *ngFor="let infra of element.infrasDocList" value={{infra}}> {{infra}}</mat-option>
        </mat-select>
        </td>
      </ng-container>
       -->

      <!-- Damage Type Column
      <ng-container matColumnDef="damageDocList">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Damage Type </th>
        <td mat-cell *matCellDef="let element">
          <mat-select class="items" placeholder="{{element.damageDocList[0]}}..." >
          <mat-option disabled="true" *ngFor="let damage of element.damageDocList" value={{damage}}> {{damage}}</mat-option>
        </mat-select>
        </td>
      </ng-container>
       -->

      <!-- Language Column -->
      <ng-container matColumnDef="language">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Language</th>
        <td mat-cell *matCellDef="let element"> {{element.language}} </td>
      </ng-container>

      <!-- Tags Column
      <ng-container matColumnDef="tagsDoc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tags </th>
        <td mat-cell *matCellDef="let element">
          <mat-select class="items" placeholder="{{element.tagsDoc[0]}}..."  >
          <mat-option disabled="true" *ngFor="let tags of element.tagsDoc" value={{tags}}> {{tags}}</mat-option>
        </mat-select>
        </td>
      </ng-container>
       -->

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary"
                  (click)="previewDoc(element._id.$oid)"
                  matTooltip="View Document"
                  matTooltipPosition="right"
                  style="margin-left: 10px;">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div fxLayout="row" fxLayoutAlign="space-between" class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-description">
              <h2>Tags</h2>
              <div *ngFor="let tags of element.tagsDoc">{{tags}}</div>
            </div>
            <div class="example-element-description">
              <h2>Damages Type</h2>
              <div *ngFor="let damage of element.damageDocList">{{damage}}</div>
            </div>
            <div class="example-element-description">
              <h2>Infrastructure Types</h2>
              <div *ngFor="let infra of element.infrasDocList">{{infra}}</div>
            </div>
            <div class="example-element-description">
              <h2>Authors</h2>
              <div *ngFor="let author of element.authorFullName">{{author}}</div>
            </div>
            <div class="example-element-description">
              <h2>Locations</h2>
              <div *ngFor="let location of element.location">{{location.address}}</div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
