table {
width: 100%;
}
mat-select.items .mat-select-arrow{
  visibility: hidden;
  z-index: 999;
}

mat-select.items .mat-select-placeholder{
  color: rgba(black, 1);
}

mat-select.items .mat-option-disabled{
  color: rgba(black, 1);
}
