<div>
  <div class="table-container">
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort multiTemplateDataRows>
      <!-- titleColumn -->
      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Title</th>
        <td *matCellDef="let element" mat-cell> {{element.title}} </td>
      </ng-container>

      <!-- creator Column -->
      <ng-container matColumnDef="creatorFullName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Creator</th>
        <td *matCellDef="let element" mat-cell>
          {{element.creatorFullName}}
        </td>
      </ng-container>

      <!-- Publication Date Column -->
      <ng-container matColumnDef="creationDate">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Publication Date</th>
        <td *matCellDef="let element" mat-cell> {{element.creationDate}} </td>
      </ng-container>

      <!-- Incident Date Column -->
      <ng-container matColumnDef="incidentDate">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Incident Date</th>
        <td *matCellDef="let element" mat-cell> {{element.incidentDate}} </td>
      </ng-container>

      <!-- Modification Date Column -->
      <ng-container matColumnDef="lastModificationDate">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Modification Date</th>
        <td *matCellDef="let element" mat-cell> {{element.lastModificationDate}} </td>
      </ng-container>

      <!-- Language Column -->
      <ng-container matColumnDef="language">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Language</th>
        <td *matCellDef="let element" mat-cell> {{element.language}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell>Actions</th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="previewDoc(element._id)" color="primary"
                  mat-icon-button
                  matTooltip="View Document"
                  matTooltipPosition="right"
                  style="margin-left: 10px;">
            <img src="assets/pictures/visibility.svg" alt="visibility">
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td *matCellDef="let element" [attr.colspan]="displayedColumns.length" mat-cell>
          <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" class="example-element-detail"
               fxLayout="row" fxLayoutAlign="space-between">
            <div class="example-element-description">
              <h2>Tags</h2>
              <div *ngFor="let tags of element.tagsDoc">{{tags}}</div>
            </div>
            <div class="example-element-description">
              <h2>Damages Type</h2>
              <div *ngFor="let damage of element.damageDocList">{{damage}}</div>
            </div>
            <div class="example-element-description">
              <h2>Infrastructure Types</h2>
              <div *ngFor="let infra of element.infrasDocList">{{infra}}</div>
            </div>
            <div class="example-element-description">
              <h2>Authors</h2>
              <div *ngFor="let author of element.authorFullName">{{author}}</div>
            </div>
            <div class="example-element-description">
              <h2>Locations</h2>
              <div *ngFor="let location of element.location">{{location.address}}</div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr (click)="expandedElement = expandedElement === element ? null : element" *matRowDef="let element;
      columns: displayedColumns;"
          [class.example-expanded-row]="expandedElement === element"
          class="example-element-row"
          mat-row>
      </tr>
      <tr *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" mat-row></tr>
    </table>
  </div>
  <mat-progress-bar *ngIf="loading" aria-label="Documents downloading progress" mode="determinate"
                    value="{{value}}"></mat-progress-bar>
  <mat-progress-bar *ngIf="!startLoading" aria-label="Documents downloading" mode="indeterminate"></mat-progress-bar>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
