<mat-nav-list>
  <div fxLayoutAlign="center center">
    <h1>Navigation</h1>
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="sidenav.close()" routerLink="/home"
     routerLinkActive="active-route">Home</a>
  <a mat-list-item (click)="sidenav.close()" routerLink="/documents"
     routerLinkActive="active-route">Browse</a>
  <a mat-list-item (click)="sidenav.close()" color="primary" routerLink="/about"
     routerLinkActive="active-route">About</a>
  <a mat-list-item (click)="sidenav.close()" routerLink="/collabrequest"
     routerLinkActive="active-route">Collaborator Request</a>
  <a mat-list-item (click)="sidenav.close()" routerLink="/timeline"
     routerLinkActive="active-route">Timeline</a>
  <a mat-list-item (click)="sidenav.close()" routerLink="/xy"
     routerLinkActive="active-route">Plots</a>
  <a mat-list-item (click)="sidenav.close()" routerLink="/map"
     routerLinkActive="active-route">Map</a>
</mat-nav-list>
