
.map-container {
  min-height: 85vh;
  overflow: hidden;
}


.map-information{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 2em;
}

div.map-element{
  width: 1250px;
  height: 500px;
}

