html {overflow: visible;}
.map-container {overflow-x: hidden;padding-bottom: 10em;}
.map-information {display: flex;flex-direction: column;overflow: hidden;padding: 2em;}
div.map-element {width: 1250px;height: 500px;}
.mat-calendar-body {font-weight: bold;}
.mat-calendar-body-cell > .mat-calendar-body-cell-content:not(.mat-calendar-body-disabled) {
  background-color: #37474f;color: white;border-color: transparent;
}
.mat-calendar-body-disabled > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  background-color: white;color: black;
}
.mat-calendar-body-disabled > .mat-calendar-body-today > .mat-calendar-body-cell-content{
}
.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover,
.cdk-keyboard-focused, .cdk-program-focused {
  & > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
    background-color: rgba(55, 71, 79, 0.80);
  }
}
.cdk-program-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected){
  background-color: #37474f;
  color: white;
}
.cdk-program-focused .mat-calendar-body-active:not(.mat-calendar-body-disabled) > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected){
  background-color: #37474f;
  color: white;
}
.cdk-program-focused .mat-calendar-body-active:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected){
  background-color: rgba(55, 71, 79, 0.80);
}
.cdk-program-focused .mat-calendar-body-active.mat-calendar-body-disabled > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected){
  background-color: white;
  color: black;
}

