<div class="map-container">

  <div fxFill>
    <h1><b>Map View</b></h1>
    <p>
      Filter the case studies by selecting the multiple options based on infrastrucutre and damage types as
      well as the tags present on those case studies. The locations will be loaded automatically on the map depending on
      the
      selected options.
    </p>
    <p>
      <i>Note: Some documents may not have their locations properly placed. If the case study that you are looking for
        doesn't
        show on the map, the creator of said case study might have not set the locations properly.</i>
    </p>
  </div>

  <div fxFill>

    <div fxLayout="row" fxLayoutAlign="start stretch" style="padding-left: 2em; padding-top: 2em;">
      <div fxFlex="8">
        <button mat-raised-button color="primary" style="width: 10em;" (click)="resetFilters()">
          Reset Filters
        </button>
        <br>
        <br>
        <button mat-raised-button color="primary" style="width: 10em;" (click)="getAll()">
          Get All
        </button>
        <br>
        <br>
        <mat-form-field>
          <mat-label>Publication date</mat-label>
          <input #inputToDate1 matInput [matDatepicker]="picker" [max]="todayDate" [formControl]="publicationDate"
            (dateChange)="datePreCheck($event); selectionEvent([$event.value], 'creationDate')" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Incident date</mat-label>
          <input #inputToDate2 matInput [matDatepicker]="picker2" [max]="todayDate" [formControl]="incidentDate"
            (dateChange)="datePreCheck($event); selectionEvent([$event.value], 'incidentDate')" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Infrastructure</mat-label>
          <mat-select #someSelect1 [formControl]="infrastructure" multiple
            (selectionChange)="selectionEvent($event.value, 'infrasDocList')">
            <mat-option *ngFor="let element of infrastructureList" [value]="element['infrastructureType']">{{element['infrastructureType']}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Damages</mat-label>
          <mat-select #someSelect2 [formControl]="damage" multiple (selectionChange)="selectionEvent($event.value, 'damageDocList')">
            <mat-option *ngFor="let element of damageList" [value]="element['damageType']">{{element['damageType']}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Language</mat-label>
          <mat-select #someSelect3 [formControl]="language" multiple (selectionChange)="selectionEvent($event.value, 'language')">
            <mat-option *ngFor="let element of languageList" [value]="element">{{element}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tags</mat-label>
          <mat-select #someSelect4 [formControl]="tags" multiple (selectionChange)="selectionEvent($event.value, 'tagsDoc')">
            <mat-option *ngFor="let element of tagsList" [value]="element['tagItem']">{{element['tagItem']}}</mat-option>
          </mat-select>
        </mat-form-field>

        <br>
        <br>

        <p *ngIf="!dirtyFields" style="color: red;">Select fields</p>
        <p *ngIf="dirtyFields" style="color: forestgreen;">Please click to update the map.</p>
        <button mat-raised-button color="primary" style="width: 10em;" [disabled]="!dirtyFields" (click)="updateMap()">
          Update Map
        </button>
      </div>
      <div fxFlex="1" style="padding-left: 7em;">
        <div class ="map-element" id = "map-element">
        </div>
      </div>
    </div>
  </div>
</div>
