<div fxLayout="column wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="50" fxFlexOffset="5" style="margin-bottom: 10px">
    <h1>
      Request Access to became a SearchSpace Collaborator
    </h1>
    <mat-card-header style="margin-left: 25%">
      <mat-card-title>Sing Up with UPR Credentials</mat-card-title>
    </mat-card-header>
    <mat-card-content style="margin-left: 40%">
      <button mat-raised-button color="warn" (click)="signUp()">
        Sign up
      </button>
    </mat-card-content>
  </mat-card>
</div>
