<div style="overflow: hidden;">
  <!-- <div class="spinner-container" *ngIf="loadingDocument">
    <mat-spinner></mat-spinner>
  </div> -->
  
  
  <!-- <div *ngIf="!loadingDocument">
    <ngx-extended-pdf-viewer
      [base64Src]="base64Src"
      backgroundColor="#ffffff"
      [height]="'90vh'"
      [useBrowserLocale]="true"
      [handTool]="false"
      [showHandToolButton]="true"
    >
    </ngx-extended-pdf-viewer>
  </div> -->
  
  <div class="preview-container">
    <div style="padding: 2em;">
      <mat-card class="preview-card">
        <mat-card-header style="padding-top: 3em;">
          <mat-card-title style="font-size: xx-large; font-weight: bolder;">{{title}}</mat-card-title>
          <mat-card-subtitle>
            <br>
            <div *ngIf="description != '' or description != null">
              <h2>Description</h2>
              <div>{{description}}</div>
            </div>
            <br>
            <p><b>Creator: </b>{{creatorFullName}} | {{creatorEmail}}</p>
            <p><b>Publication date: </b>{{publicationDate}}</p>
            <p><b>Last Modified: </b>{{lastModifiedDate}}</p>

            <div *ngIf="infraList.length != 0 || infraList != null">
              <p><b>Infrastructures:</b></p>
              <ul>
                <li *ngFor="let infra of infraList">
                  {{infra}}
                </li>
              </ul>
            </div>
  
            <div *ngIf="damageList.length != 0 || damageList != null">
              <p><b>Damages:</b></p>
              <ul>
                <li *ngFor="let damage of damageList">
                  {{damage}}
                </li>
              </ul>
            </div>
            
            <br>
            
            <div *ngIf="authorList.length != 0 || authorList != null">
              <p><b>Authors:</b></p>
              <div class="title-section">
                <div class="title-box" *ngFor="let author of authorList">
                  <p>{{author.firstName}} {{author.lastName}}</p>
                  <p>{{author.email}}</p>
                  <p>{{author.faculty}}</p>
                </div>
              </div>
            </div>
            
            <br>

            <div *ngIf="actorList.length != 0 || actorList != null">
              <p><b>Actors:</b></p>
              <div class="title-section">
                <div class="title-box" *ngFor="let actor of actorList">
                  <p>{{actor.firstName}} {{actor.lastName}}</p> 
                  <p>{{actor.role}}</p>
                </div>
              </div>
            </div>
            
            <br>
            
            <div *ngIf="tagList.length != 0 || tagList != null">
              <p><b>Tags:</b></p>
              <div class="title-section">
                <div class="title-box" *ngFor="let tag of tagList">
                  <p>{{tag}}</p>
                </div>
              </div>
            </div>
            
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>  
    
    <div style="padding: 2em;">
      <mat-card class="preview-card">
        <mat-card-content>
          <div>
            <h1 style="font-weight: bolder;">Section 1: CKEditor5 innerHTML and ck-content.</h1>
            <div class="ck-content" [innerHTML]="ckeditorData"></div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  

    <div style="padding: 2em;" *ngFor="let section of sectionList">
      <mat-card class="preview-card">
        <mat-card-content>
          <div>
            <h1 style="font-weight: bolder;">{{section.title}}</h1>
            <div class="ck-content" [innerHTML]="section.content"></div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- <ckeditor 
    [editor]="editor" 
    [config]="editorConfig"
    [(ngModel)]="editorData">
  </ckeditor> -->
</div>