<div fxFill class="documents">
  <mat-divider></mat-divider>
  <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <div fxLayoutAlign="center" fxLayoutGap="3px">
      <app-search #searchComponent fxFlex="80"
                  (typed)="documentsTableComponent.searchEvent($event);
                  documentsTableComponent.show = true; documentsTableComponent.applyFilter()"
                  (empty)="documentsTableComponent.searchEvent($event); documentsTableComponent.applyFilter()">
      </app-search>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="5px">
    <div fxFlex="10">
      <mat-form-field class="side">
        <mat-label>Select publication date</mat-label>
        <input matInput [max]="maxDate" [min]="minDate" [matDatepickerFilter]="publicationFilter"
               [matDatepicker]="picker" (dateChange)="checkEvent($event);
               documentsTableComponent.selectionEvent([$event.value], 'creationDate');
              documentsTableComponent.applyFilter()" [formControl]="date1" value=null
        >
        <mat-datepicker-toggle matSuffix [for]="picker" [disabled] = documentsTableComponent.loading></mat-datepicker-toggle>
        <mat-datepicker (closed)="datesChecked()" (yearSelected)="yearSelected = true"
                        (monthSelected)="monthSelected = true"
                        startView="multi-year" #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="side">
        <mat-label>Select incident date</mat-label>
        <input matInput [max]="maxDate" [min]="minDate" [matDatepickerFilter]="incidentFilter"
               [matDatepicker]="picker2"
               (dateChange)="checkEvent($event);
              documentsTableComponent.selectionEvent([$event.value], 'incidentDate');
              documentsTableComponent.applyFilter()" [formControl]="date2" value="=null"
        >
        <mat-datepicker-toggle matSuffix [for]="picker2" [disabled] = documentsTableComponent.loading></mat-datepicker-toggle>
        <mat-datepicker (closed)="datesChecked()" (yearSelected)="yearSelected = true"
                        (monthSelected)="monthSelected = true"
                        startView="multi-year" #picker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="side">
        <mat-chip-list #chipList aria-label="Author selection" [disabled]=documentsTableComponent.loading>
          <mat-chip
            *ngFor="let author of selectedAuthors"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(author);
           documentsTableComponent.selectionEvent(selectedAuthors, 'authorFullName');
           documentsTableComponent.applyFilter()">
            {{author}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Authors"
            #creatorInput
            [formControl]="creatorCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          >
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event);
       documentsTableComponent.selectionEvent(selectedAuthors, 'authorFullName'); documentsTableComponent.applyFilter()">
          <mat-option *ngFor="let author of filteredAuthors | async" [value]="author">
            {{author}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="side">
        <mat-label>Infrastructure</mat-label>
        <mat-select [formControl]="formControl" multiple
                    (selectionChange)="documentsTableComponent.selectionEvent($event.value, 'infrasDocList');
      documentsTableComponent.applyFilter()">
          <mat-option *ngFor="let structure of structureList"
                      [value]="structure['infrastructureType']">{{structure['infrastructureType']}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="side">
        <mat-label>Damages</mat-label>
        <mat-select [formControl]="formControl" multiple
                    (selectionChange)="documentsTableComponent.selectionEvent($event.value, 'damageDocList');
      documentsTableComponent.applyFilter()">
          <mat-option *ngFor="let dmg of dmgList" [value]="dmg['damageType']">{{dmg['damageType']}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="side">
        <mat-label>Language</mat-label>
        <mat-select [formControl]="formControl" multiple
                    (selectionChange)="documentsTableComponent.selectionEvent($event.value, 'language');
      documentsTableComponent.applyFilter()">
          <mat-option *ngFor="let language of languageList" [value]="language">{{language}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="side">
        <mat-label>Tags</mat-label>
        <mat-select [formControl]="formControl" multiple
                    (selectionChange)="documentsTableComponent.selectionEvent($event.value, 'tagsDoc');
      documentsTableComponent.applyFilter()">
          <mat-option *ngFor="let tag of tagList" [value]="tag['tagItem']">{{tag['tagItem']}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary"  style="margin-left: 10%;" (click)="resetFilters()"
              [disabled] = documentsTableComponent.loading>
        Reset Filters
      </button>
    </div>
    <mat-divider [vertical]="true" fxFlex="1" style="height: 500px"></mat-divider>
    <app-documents-table show="true" fxFlex="80" #documentsTableComponent></app-documents-table>
  </div>
</div>
