<div fxFill>
<mat-divider></mat-divider>
<div fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <div fxLayoutAlign="center" fxLayoutGap="3px">
    <app-search fxFlex="80" hint= "false"
                (typed)="documentsTableComponent.searchEvent($event);
                 documentsTableComponent.show = true; documentsTableComponent.applyFilter()"
                (empty)="documentsTableComponent.searchEvent($event); documentsTableComponent.applyFilter()">

    </app-search>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="5px">
  <div fxFlex="10">
    <mat-form-field class="side">
      <mat-label>Enter publication date</mat-label>
      <input matInput [matDatepicker]="picker"
             (dateChange)="checkEvent($event); documentsTableComponent.selectionEvent($event.value, 'publication_date');
              documentsTableComponent.applyFilter()" [formControl]="date1" value=null
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="side">
      <mat-label>Enter incident date</mat-label>
      <input matInput [matDatepicker]="picker2"
             (dateChange)="checkEvent($event); documentsTableComponent.selectionEvent($event.value, 'incident_date');
              documentsTableComponent.applyFilter()" [formControl]="date2" value="=null"
      >
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <!--<mat-form-field class="side">
      <mat-label>Locations</mat-label>
      <mat-select [formControl]="formControl" multiple (selectionChange)="documentsTableComponent.selectionEvent($event.value, 'location');
      documentsTableComponent.applyFilter()">
        <mat-option *ngFor="let location of locationList" [value]="location">{{location}}</mat-option>
      </mat-select>
    </mat-form-field>-->
    <mat-form-field class="side">
      <mat-chip-list #chipList aria-label="Creator selection">
        <mat-chip
          *ngFor="let creator of selectedCreators"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(creator)">
          {{creator}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Creators"
          #creatorInput
          [formControl]="creatorCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event);
       documentsTableComponent.selectionEvent(selectedCreators, 'creators'); documentsTableComponent.applyFilter()">
        <mat-option *ngFor="let creator of filteredCreators | async" [value]="creator">
          {{creator}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="side">
      <mat-label>Infrastructure</mat-label>
      <mat-select [formControl]="formControl" multiple (selectionChange)="documentsTableComponent.selectionEvent($event.value, 'infrastructure_type');
      documentsTableComponent.applyFilter()">
        <mat-option *ngFor="let structure of structureList" [value]="structure">{{structure}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="side">
      <mat-label>Damages</mat-label>
      <mat-select [formControl]="formControl" multiple (selectionChange)="documentsTableComponent.selectionEvent($event.value, 'damage_type');
      documentsTableComponent.applyFilter()">
        <mat-option *ngFor="let dmg of dmgList" [value]="dmg">{{dmg}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="side">
      <mat-label>Language</mat-label>
      <mat-select [formControl]="formControl" multiple (selectionChange)="documentsTableComponent.selectionEvent($event.value, 'language');
      documentsTableComponent.applyFilter()">
        <mat-option *ngFor="let language of languageList" [value]="language">{{language}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="side">
      <mat-label>Tags</mat-label>
      <mat-select [formControl]="formControl" multiple (selectionChange)="documentsTableComponent.selectionEvent($event.value, 'tag');
      documentsTableComponent.applyFilter()">
        <mat-option *ngFor="let tag of tagList" [value]="tag">{{tag}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-divider [vertical]="true" fxFlex="1" style="height: 500px"></mat-divider>
  <app-documents-table show="true" fxFlex="80" #documentsTableComponent></app-documents-table>
</div>
</div>
