<!--
  Author: Jainel M. Torres Santos <jainel.torres@upr.edu>
-->
<div class="comparison-graph">
  <h1 style="padding: 0em 2em;"><b>Comparison View</b></h1>
  <p style="padding: 0px 2em;">
    Do a comparison with the case studies available by selecting categories like Infrastructure type, Damage type and
    Tags for the Vertical Axis. There are also categories like Publication Date, Incident Date, and Number of Cases
    for the Horizontal axis. Depending on the categories chosen, the graph will change in order to satisfy the
    categories chosen.
  </p>
  <p>
    <i style="padding-left: 2em;">Note: The graph has the Categories "Damage"(Vertical Axis) & "Publication
      Date"(Horizontal Axis) as a
      default.</i>
  </p>

  <div fxFill style="overflow: hidden">
    <div fxLayout="row" fxLayoutAlign="start stretch" style="padding-left: 1em; padding-top: 2em;">
      <div fxFlex="1">
        <mat-form-field>
          <mat-label>Vertical Axis</mat-label>
          <mat-select [formControl]="category_x" (selectionChange)="updateCatX()"
                      (keyup)="sendValueX(subjectValue.value)" #subjectValue placeholder="Damage">
            <mat-option *ngFor="let catX of categoryX" [value]="catX">{{catX}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Horizontal Axis</mat-label>
          <mat-select [formControl]="category_y" (selectionChange)="updateCatY()"
                      (keyup)="sendValueY(subjectValue.value)" #subjectValue placeholder="Publication Date">
            <mat-option *ngFor="let catY of categoryY" [value]="catY">{{catY}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div  fxFlex="1"  style="padding-left: 15em; padding-top:1em">
        <google-chart #chart class="chart" [title]="title" [type]="type" [data]="data" [columnNames]="columnNames" [options]="options"
          [height]="height" [width]= "width" ></google-chart>
      </div>
    </div>
    
  </div>
</div>
