<mat-divider></mat-divider>
<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="5px">
    
    <div fxFlex="15">
        <mat-form-field class="side">
            <mat-label>Category X</mat-label>
            <mat-select  [formControl]= "category_x" (selectionChange)="updateCatX($event)">
              <mat-option  *ngFor="let catX of categoryX" [value]="catX">{{catX}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="side">
            <mat-label>Category Y</mat-label>
            <mat-select  >
              <mat-option  *ngFor="let catY of categoryY" [value]="catY">{{catY}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div>
        <google-chart #chart
            [title]="title"
            [type]="type"
            [data]="data"
            [columnNames]="columnNames"
            [options]="options"
            [width]="width"
            [height]="height"
            (select)="onSelect($event)"
        ></google-chart>
    </div>
    
</div>





