<footer>
<div class="footer" fxLayout="row" fxLayoutAlign="space-between center">
  <a fxFlex="6" href ="https://www.nsf.gov/">
    <img src="assets/pictures/nsf.png" alt="NSF Logo" width="125" height="125">
  </a>
  <div fxFlex="40">
    <h2>Acknowledgment</h2>
    <p>
      This material is based upon work supported by the National Science
      Foundation under grants No. HSI #1832468 and 1832427 (HSI program)
    </p>
  </div>
  <div fxFlex="40">
    <h2>Disclaimer</h2>
    <p>
      Any opinions, findings, and conclusions or recommendations
      expressed in this material are those of the authors and do not
      necessarily reflect the views of the National Science Foundation.
    </p>
  </div>
</div>
  <div style="font-size: medium">
    &copy; RISE-UP - UPRM 2020. All Rights Reserved
  </div>
</footer>
