:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-sidenav-container {
  min-height: 100vh; /* will cover the 95% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
}
mat-sidenav{
  width: 350px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
 }
