:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
mat-sidenav{
  width: 350px;
}
mat-sidenav-container{
  min-height: 90vh;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
 }
